.navbar {
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    color: dodgerblue;
}

.footer {
    border-top: 1px solid lightgray;
}

footer {
    padding-top: 100px;
}

.container-content {
    width: 60%;
}
